#top, #bottom, #left, #right {
	background: #212121;
  position: absolute;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }

	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

#section1{
	font-family: "pt sans";
	padding: 3%;
	text-align: center;
}


#date {
	line-height: 130%;
	text-align: right;
	text-decoration: underline;
	font-family: 'Cabin', sans-serif;
	font-size: 25pt;
	font-weight: 300;
	position: fixed;



	position:fixed;
	bottom:45%;
	right:10%;
	width: 20px;
}







.imgageDesciption{
	line-height: 90%;
	text-align: right;
	text-decoration: underline;
	font-family: 'Cabin', sans-serif;
	font-size: 20pt;
	font-weight: 400;
	position: fixed;
	right: 5%;
	bottom: 45%;
}
.portrait{
	margin-left: 35%;
	width: 30%;
	height: auto;
	margin-bottom: 4%;
}
.landscape{
	width: 60%;
	margin-left: 20%;
	margin-bottom: 4%;
}
#liu{
  /* border: 3px solid black;
  border-radius: 10px; */
  /* font-family: "Microsoft Yahei"; */
  font-family: "PingFang HK";
  font-size: 90pt;
  font-weight: 400;
  position: absolute;
  right:-12%;
  top:-3%;
  color:lightgrey;
}
#portfolio{
  font-family: "PingFang HK";
  font-size: 30pt;
  font-weight: 400;
  position: absolute;
  right:-8%;
  top:20%;
}


.topContainer{
  height: 1000px;
  width: 100%;
  display: inline-block;
  clear:both;
  overflow: hidden;
  background-color: #f3f3f3;
}

p{
  position: relative;
}

/* h5{
  font-family: 'Poppins';
  font-size: 20pt;
  top: -380px;
  position: relative;
  text-align: center;
} */
.container{
  display: block;
  background-color: #f3f3f3;
  position: absolute;
  left: 6%;
  top: 6%;
}
li{
  display: block;
  list-style: none;
  /* margin-left: -100px; */
  font-family: "Avenir"
  /* font-family: 'PT Sans Narrow', sans-serif; */
  /* font-family: "Tahoma"; */
}
svg{
  display: block;
}

#transition{
  font-size: 45pt;
  color:#919191;
  font-family: 'PT Sans', sans-serif;
  /* font-family: "Tahoma"; */
  -webkit-animation: fadein2 0.7s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein2 0.7s; /* Firefox < 16 */
        -ms-animation: fadein2 0.7s; /* Internet Explorer */
         -o-animation: fadein2 0.7s; /* Opera < 12.1 */
            animation: fadein2 0.7s;
}
#transition:hover{
  color: #212121;
}

#down{
  color:#212121;
  position: absolute;
  bottom: -150px;
  right: 50px;
  font-size: 500px;
}

text {
  font-family: "avenir";
  font-size: 100pt;
  font-weight: lighter;
  text-decoration: underline;
  /* font-family: 'PsT Sans Narrow', sans-serif; */
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;

  -webkit-animation: fadein 5s, draw 5s forwards; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 5s, draw 5s forwards; /* Firefox < 16 */
        -ms-animation: fadein 5s, draw 5s forwards; /* Internet Explorer */
         -o-animation: fadein 5s, draw 5s forwards; /* Opera < 12.1 */
            animation: fadein 5s, draw 5s forwards;

}
@-webkit-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@-ms-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}


@keyframes fadein {
    from { fill-opacity: 0; }
    to   { fill-opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { fill-opacity: 0; }
    to   { fill-opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { fill-opacity: 0; }
    to   { fill-opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { fill-opacity: 0; }
    to   { fill-opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { fill-opacity: 0; }
    to   { fill-opacity: 1; }
}






@keyframes fadein2 {
    from { opacity: 0; top:75px; }
    to   { opacity: 1; top:0px;}
}

/* Firefox < 16 */
@-moz-keyframes fadein2 {
  from { opacity: 0; top:75px; }
  to   { opacity: 1; top:0px;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein2 {
  from { opacity: 0; top:75px; }
  to   { opacity: 1; top:0px;}
}

/* Internet Explorer */
@-ms-keyframes fadein2 {
  from { opacity: 0; top:75px; }
  to   { opacity: 1; top:0px;}
}

/* Opera < 12.1 */
@-o-keyframes fadein2 {
  from { opacity: 0; top:75px; }
  to   { opacity: 1; top:0px;}
}
